<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
<title>{% block title %}Tourifier{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/tourify.css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript" src="/static/tourify2.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      TF.tour = {{tour.toJson|safe}};
      TF.init();
  });
</script>

</head>
<body>

{% block content %}
  <div id="map3d" style="height:98%"></div>
{% endblock content %}


</body>
</html>





